node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/
android/
build-*
# expo router
expo-env.d.ts
# tamagui
.tamagui/
.vscode/settings.json

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.env*

android/
ios/